/*
  Color scheme

  Teal
  - 008181 (teal) (navbar hover)
  - 5CAEAE (verdigris) (navbar)
  - E9F4F4 (anti flash white) (nav bar text)

  Mustard
  - F7A006 (vivid orange peel) (navbar borders)
  - FFC857 (mustard)

  colors -> https://coolors.co/008181-5caeae-e9f4f4-f7a006-ffc857
*/

* {
  font-family: Source Sans Pro;
}

body {
  background: #FFF;
  margin: 0;
}

.navbar {
  background: #5CAEAE;
  overflow: hidden;
  border-bottom: 2px solid #F7A006;
  height: 80px;
  position: relative;
}

div a{
  color: #E9F4F4;
  text-decoration: none;
  font-size: 25px;
  float: left;
  text-align: center;
  padding: 15px 35px;
}

a:hover {
  background: #008181;
}

.options {
  line-height: 50px;
}

#home {
  border-right: 1px solid #F7A006;
  padding: 15px 20px;
  font-size: 40px;
  line-height: 50px;
  font-family: Lobster;
}


.search {
  background: #FFFFFF;
  float: right;
  margin: 15px 35px;
  width: 25%;
  height: 40px;
  border: 1px solid #FFC857;
  border-radius: 30px;
  padding: 0 15px;
}

.search-box-content {
  padding: 4px;
}

.search-input {
  border: 0;
  float: right;
  width: 90%;
  padding: 4px 0;
  font-size: 17px
}

.search-input:focus {
  outline: none;
}

.search-icon {
  width: 7%;
  padding-top: 3px;
  float: left;
}

input[type="submit"] {
  visibility: hidden;
}
