@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: #5CAEAE;
}

body {
  padding: 15% 0%;
  color: white;
  font-family: Cabin;
  text-align: center;
}

h1 {
  position: sticky;
  top: 0px;
  font-family: Lobster;
  font-size: 100px;
  background-color: #5CAEAE;
  padding: 0 0 20px 0;
  margin: 10px 0 30px 0;
}

.searchInput {
  color: #008181;
  border: 1px solid #838383;
  width: 70%;
  border-radius: 50px;
  padding: 15px 40px;
  font-size: 20px;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #CDCDCD;
}

input[type="submit"] {
  visibility: hidden;
  position: absolute;
  top: -999px;
  left: -999px;
  width: 0px;
  height: 0px;
}

.navbar {
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: #E9F4F4;
  padding: 0 10%;
  font-size: 20px;
}

a:hover {
  color: #008181;
}

.centre {
  border-left: 2px solid #FFC857;
  border-right: 2px solid #FFC857;
}

#id {
  display:table; 
  width: 90%;
  margin: 5%;
}

#resultsContainer {
  width: 90%;
  margin: 5%;
}

#resultsFilmGrid {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-auto-rows: 150px;
  justify-items: center;
  row-gap: 15px;
}


#resultsSmallSelectionGrid {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: repeat(10, 10%);
  grid-auto-rows: 150px;
  justify-items: center;
  row-gap: 15px;
}

.film {
  background-color: white;
  border: 0.5px solid #008181;
  color: #008181;
  padding: 5%;
  width: 80%;
  height: 100px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 28% 63% 9%;
  justify-items: left;
}

.filmImage {
  float: left;
  width: 97px;
  height: 97px;
  background-color: #008181;
}

.filmDesc {
  float:left;
  text-align: left;
  font-size: x-large;
  word-wrap: break-all;
  word-spacing: 2px;
}

.filmTitle {
  padding: 2% 0;
}

.filmDirector {
  padding: 5% 0;
  border-top: 2px solid #FFC857;
  font-size: large;
}

.film:nth-child(3n) {
  grid-column: 1; 
}

.film:nth-child(3n + 2) {
  grid-column: 2; 
}

.film:nth-child(3n + 3) {
  grid-column: 3; 
}

.hasWatchedContainer {
  float: right;
}

input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.hasWatchedUnchecked {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 2px solid #838383;
  transition: all 100ms;
}

.hasWatchedChecked {
  transition: all 100ms;
  width: 30px;
  height: 30px;
  border-radius: 20%;
  border: 2px solid #eba61a;
  background-color: #FFC857;
}

.hasWatchedUnchecked:hover {
  width: 32px;
  height: 32px;
  background-color: #CDCDCD;
  border: none;
}

svg {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  margin: 3px;
}

styles {
  width: 20%;
}

/*
Color scheme

Teal
- 008181 (teal) (navbar hover)
- 5CAEAE (verdigris) (navbar)
- E9F4F4 (anti flash white) (nav bar text)

Mustard
- F7A006 (vivid orange peel) (navbar borders)
- FFC857 (mustard)

colors -> https://coolors.co/008181-5caeae-e9f4f4-f7a006-ffc857
*/
